# Use the uv-managed virtual environment for Quarto
#
# run "direnv allow" after any changes to this file!
#
# This file (.envrc) is used by "direnv" to load directory specific environment variables.
# This is VERY handy when using UV and .venv to manage projects.
# The export below tells quarto (on the global path) where to find python (in the local .venv)

export QUARTO_PYTHON="$(uv python find)"
